/*
E9EAE6
DBDFDE
D7D8D2
B3BABD
AEAEAF

black
darkSlateGray

ddd
111
ADD9F2

https://www.w3.org/TR/SVG11/types.html#ColorKeywords
*/



* {
    outline: none;
    color: black;
    border-color: black;
}


QWidget:disabled {
    border: none;
    color: darkSlateGray;
}

QMenu, QLabel {
    padding-top: 2px;
    padding-bottom: 2px;
    /*font-weight: bold;*/
}

QPushButton {
    border: 1px solid #B3BABD;
    background: #E9EAE6;
    padding: 5px;
}

QPushButton:hover {
    border: 1px solid #ADD9F2;
}

QPushButton:pressed {
    background: #ADD9F2;
}

QAbstractScrollArea {
    background: #D7D8D2;
}

QTextEdit, QLineEdit {
    border: 1px solid #B3BABD;
    background: #E9EAE6;
}

Window {
    min-width: 580px;
    min-height: 300px;
    height: 350px;
    background: #D7D8D2;
}

Window #header {
    background: #D7D8D2;
    border-bottom: 1px solid #B3BABD;
}

Window #header QLabel {
    padding: 0;
}

Window #header QComboBox {
    padding: 0;
}

Window #header QPushButton[type=toggle] {
    border: none;
    background: transparent;
    margin: 1px;
}

Window #header QPushButton[type=toggle]:checked {
    background: #E9EAE6;
}

Window #header QPushButton[type=toggle]:hover {
    border: 1px solid #ADD9F2;
    background: #E9EAE6;
}

Window #logo {
    width: 32px;
    max-width: 32px;
    height: 32px;
    max-height: 32px;
    padding: 0;
}

/* Give it a slight nudge */
Window #logo:hover {
    border: -1px solid transparent;
}

Window #pages QTableView {
    margin-bottom: 5px;
}

Window #apps {
    min-width: 300px;
}

Window #loading QLabel {
    font-size: 16px;
}

Window App #tools {
    max-height: 100px;
    min-height: 100px;
}

Window App #label {
    font-size: 13px;
}

Window App QAbstractItemView {
    max-height: 100px;
}

Window #body QLineEdit {
    border: 1px solid #B3BABD;
    padding: 3px;
    margin: 3px;
}

FullCommand QLineEdit {
  color: rgba(0, 0, 0, 0.2);
}

FullCommand QComboBox {
    background: silver;
    color: #222;
    border: none;
    padding: 2px;
    padding-right: 0px;
}

FullCommand QComboBox::drop-down {
    border: none;
}

FullCommand QComboBox::down-arrow {
    image: url(%(res)s/Logo_64.png);
}

#launchBtn {
    height: 30px;
    margin: 0;
    margin-top: 3;
    padding: 0;
}

QAbstractItemView {
    background: #DBDFDE;
    border: 1px solid #B3BABD;
    selection-background-color: #ddd;
    selection-color: #111;
}

QAbstractItemView::item:selected:active,
QAbstractItemView::item:selected:!focus,
QAbstractItemView::branch::selected {
    background: #ADD9F2;
}

QAbstractItemView::item:selected {
    border: none;
    background: transparent;
}

QAbstractItemView::item::hover {
    background: transparent;
}

QHeaderView {
    border: none;
    font-weight: bold;
    qproperty-defaultAlignment: AlignLeft;
}

QHeaderView::section {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background: #D7D8D2;
    border: none;
    border-top: none;
    border-bottom: 1px solid #B3BABD;
    border-left: none;
    border-right: 1px solid #B3BABD;
}

QHeaderView::section::last
{
    border-right: none;
}

Profiles QTreeView::item {
    padding: 2px 5px;
}

Profiles QPushButton {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    background: transparent;
    margin: 0;
    padding: 0px;
    border: none;
}

Profiles QPushButton:hover {
    background-color: #B3BABD;
}

/* Docks */
Context #generateGraph {
    max-width: 60px;
    min-width: 60px;
    max-height: 20px;
}

/* Risky, dependent on font and platform */
Context #overlay {
    max-width: 200px;
    min-width: 200px;
    max-height: 150px;
    min-height: 150px;
}

QDockWidget {
    background: #D7D8D2;
	border: 1px solid #B3BABD;
}

QDockWidget::title {
    background-color: #B3BABD;
    padding: 3px;
}

QDockWidget::float-button, QDockWidget::close-button {
}

QDockWidget #dockHelp {
    border: none;
    padding: 5px;
}

LineEditWithCompleter {
    border: none;
    /* Leave room for hover */
    padding-bottom: 2px;
}

/* Underline on hover */
LineEditWithCompleter:hover {
    border-bottom: 2px solid steelblue;
    padding: 0px;
}

Console {
    min-width: 200px;
    min-height: 100px;
}

Options QTableView {
    background: transparent;
    border: none;
}

Options #label {
    font-size: 15px;
}

QToolBar {
    border: none;
}

QToolButton {
    min-height: 35px;
}

QTabWidget{
    border: none;
}

QTabWidget::pane {
    border: 1px solid #B3BABD;
    border-radius: 0px;
    padding: 3px;
}

QTabBar
{
    qproperty-drawBase: 0;
}

QTabBar:focus
{
    border: 0px transparent;
}

QTabBar::tab:top {
    background-color: #E9EAE6;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px;
}

QTabBar::tab:top:!selected
{
    color: darkSlateGray;
    background-color: #D7D8D2;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QTabBar::tab:top:!selected:hover {
    background-color: #E9EAE6;
}

QTabBar::tab:top {
    border: 1px solid #B3BABD;
    border-right: none;
    border-bottom: none;
}

QTabBar::tab:top:last {
    border-right: 1px solid #B3BABD;
}

QScrollBar:horizontal
{
    background-color: #B3BABD;
    height: 15px;
    border: none;
    border-top: 1px solid #AEAEAF;
}

QScrollBar::handle:horizontal
{
    background-color: #DBDFDE;
    min-width: 20px;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal
{
    margin: 0px;
    height: 0px;
    width: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background-color: #B3BABD;
    width: 15px;
    border: none;
    border-left: 1px solid #AEAEAF;
}

QScrollBar::handle:vertical
{
    background-color: #DBDFDE;
    min-height: 20px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    margin: 0px;
    height: 0px;
    width: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}
